.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
  
  .total {
    font-weight: bold;
  }
  
  .btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin: 10px;
  }